/*------------------------------------------------------------ navbar */

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 600;
    padding: 0 15px;
    display: block;
    color: black;
    transition: color 0.2s ease-in-out;
    margin: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f78f1e;
}

.navbar-light .navbar-brand {
    color: #f78f1e;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
}

.navbar-light .navbar-brand:hover {
    color: #f78f1e;
}

.bg-light .btn {
    color: #f78f1e;
    border: 1px solid #f78f1e;
}

.bg-light .btn:hover {
    color: black;
    border: 1px solid black;
}


@media only screen and (max-width: 600px) {
    .navbar-light .navbar-brand {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .bg-light .btn {
        display: none;
    }
}

/*-------------------------------------------------------index.html */

/*---------------------------------------------carousel */

.d-md-block {
    text-transform: uppercase;
    padding: 1em;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.d-md-block p {
    font-size: 35px;
    text-shadow: 2px 2px #000000;
}

.d-md-block .nav-button {
    border: none;
    color: white;
    background-color: #f78f1e;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.d-md-block .nav-button:hover {
    color: black;
}

/*-----------------------------------article description*/

.description {
    margin: 70px 0;
    padding: 100px 0;
    background-image: url("../assets/img/tools.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.title {
    text-decoration: underline #f78f1e;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description p {
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .description {
        padding: 20px 0;
    }
}

/*---------------------------------------------cards*/

.card {
    padding: 0;
    border: none;
}

.cards p {
    font-size: 18px;
}

.cards-header {
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.nav-button-cards {
    margin-top: 30px;
    border: 1px solid #f78f1e;
    color: black;
    background-color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.nav-button-cards:hover {
    background-color: #f78f1e;
    color: white;
}


/*-------------------------------------------recipe book*/

.book {
    margin: 30px auto;
    padding: 50px 0;
    width: 50%;
}

.recipe-book {
    margin: 100px auto 25px;
}

recipe-book-header {
    text-transform: uppercase;
}

.recipe-book p {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .book {
        width: 75%;
    }
}

/*----------------------------------------------------------------recipes.html*/

.recipe-container {
    background-image: url("../assets/img/recipe-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 75px 15px;
}

.recipe-page {
    background-color: white;
    margin: 40px auto;
    padding: 20px 15px;
}

.recipe-name {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.recipe-img {
    margin: 35px auto;
}

.recipe-img .img-fluid {
    max-height: 400px;

}

.recipe-details {
    margin: 100px 0;
}

.recipe-button {
    font-size: 16px;
    margin: 15px 0;
}

.icon {
    width: 8%;
    padding-right: 5px;
}

.ingredients-header {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #f78f1e;
}

.recipe-composition {
    display: inline-block;
    text-align: left;
    list-style: none;
}

.recipe-composition li::before {
    content: "\2022";
    color: #f78f1e;
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


@media only screen and (max-width: 600px) {
    .recipe-details {
        margin: 25px 0;
        text-align: center;

    }
}

@media only screen and (max-width: 600px) {
    .recipe-img {
        text-align: center;
    }
}

/*-----------------------------------------------------addrecipe.html and editrecipe.html*/

.form-header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #f78f1e;
    font-size: 50px;
}

.form-page {
    background-color: white;
    margin: 55px auto;
    padding: 35px 0;
}

/*------------------------------------------------------about us.html*/

.video-header {
    font-family: 'Amatic SC', cursive;
    color: #f78f1e;
    font-size: 60px;
}

.video-paragraph {
    font-size: 18px;
    font-weight: bold;
}


.about-row {
    margin: 35px auto;
}


.about-row article {
    padding: 25px 0;
    margin: 50px;
}

.subcontainer-header {
    text-align: center;
    margin: 20px auto;
}

.about-header {
    text-decoration: underline #f78f1e;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-paragraph {
    font-size: 16px;
}

.about-page {
    padding: 30px 0;
}

/*------------------------------------------------------------shop.html*/

.utensil-page {
    margin: 60px auto;
}

.shop-header {
    margin: 25px;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 75%;
    width: 80%;
    display: none;
    background-color: white;
}

.img-title h5 {
    position: absolute;
    color: black;
    width: 100%;
    text-align: center;
}

.button-title {
    border: none;
    color: white;
    background-color: #f78f1e;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.button-title:hover {
    color: black;
}

.utensil-gallery{
    margin: 30px auto;   
}

#mobile-button {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .gallery-item img{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .gallery-item img{
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .gallery-item img{
        width: 150px;
        height: 150px;
    } .button-title{
        font-size: 12px;
        padding: 10px 18px;
        margin-left: 10px;
    } .shop-header {
        text-align: center;
    }
}
/*----------------------------------------------------------------footer*/

footer {
    background-color: #262626;
    color: white;
}

footer a {
    padding: 0 5px;
    text-decoration: none;
}

footer i {
    margin-top: 20px;
    font-size: 20px;
    color: #f78f1e;
    background-color: white;
    transition: color 0.2s ease-in-out;
    border-radius: 100%;
    padding: 10px;
}

footer i:hover {
    color: black;
    text-decoration: none;
}


footer p {
    font-size: 15px;
    line-height: 12px;
    color: #989898;
}

.details-header {
    margin-bottom: 15px;
}

.navbar-brand {
    color: #f78f1e;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
}

.navbar-brand:hover {
    color: #f78f1e;
}

.social-media {
    margin: 15px auto;
}

.credit {
    background-color: #1b1b1b;
    padding: 15px 0;
    margin: 0;
}
