{% extends 'base.html' %} {% block content %}

<section>
    <div class="container about-page">
        <div class="about-row text-center">
            <article>
                <h2 class="video-header">Pasta factory</h2>
                <p class="paragraph">A thousand and one idea to prepare and present your dishes</p>
            </article>
        </div>
        <div class="container embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YzJatd6I9Xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row about-row justify-content-center">
            <h2 class="subcontainer-header">highest quality material</h2>
        </div>
        <div class="row about-row">
            <div class="col-lg-8 col-12">
                <img class="img-fluid about-img" src="static/assets/img/stainless-steel-kitchen-utensils-500x500.jpg" style="max-height: 400px" alt="steel pot">
            </div>
            <div class="col-lg-4 col-12">
                <h3 class="about-header">from generation with passion</h3>
                <p class="about-paragraph">Italians do everything with passion. For generations, with experience, technological research, imagination and skill. From the first historic strainer to our most revolutionary patents, passion is in the care we always put into manufacturing
                    our products, in the choice of high quality materials, design and attention to every last detail. The choice of stainless steel as the core business of our company reflects our passion: ecological, recyclable, easy to clean, durable
                    and beautiful.
                </p>
            </div>
        </div>
        <div class="row about-row">
            <div class="col-lg-4 col-12">
                <img class="img-fluid about-img" src="static/assets/img/images.jpg" id="about-picture" alt="wooden utensils">
            </div>
            <div class="col-lg-8 col-12">
                <h3 class="about-header">from this know-how pasta factory is born</h3>
                <p class="about-paragraph">Pasta Factory are simple, innovative, brilliant accessories: born from the real needs of those who cook at both professional and home. Every utensils in fact, meets a need, solves one or more small problems which generally we tends to
                    improvise using classical tools improperly. Drain the cans, pick the tomato sauce and ketchup from the bottom of the glassbottles, cut the thick skin of the oranges, slice the zucchini without cutting, flake the fish, remove the fishbones,
                    eliminate the smell of food from your hands. Pasta Factory are both very professional tools, but easy to use, require no special cooking skills, because they are designed to make life easier! Moreover they are intended to last long.
                    Every tool is a kitchen accessory made of high quality stainless steel, guaranteed for life, either by hand or washed in the dishwasher, robust and compact, environmentally friendly because mono-material made and therefore easily recyclable,
                    hypoallergenic because made by nickel free stainless steel, designed not to steal valuable space, to keep them on hand at the right time. Pasta factory 1000 and 1 solution for your kitchen.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
