 {% extends 'base.html' %} {% block content %}

<!-- bootstrap form-->
<section class="recipe-container">
    <div class="container form-page">
        <h3 class="form-header"> edit a recipe</h3>
        <form action="{{url_for('update_recipe', recipe_id=recipes._id) }}" method="POST" class="col-12">
            <div class="row">
                <div class="form-group col-12">
                    <label>Recipe name</label>
                    <input type="text" class="form-control" name="recipe_name" id="recipe_name" value="{{recipes.recipe_name}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Select a category</label>
                    <select class="form-control" id="category" name="category_name">
                     <option disabled selected>Choose a category</option>
                     {% for cat in categories %}
                         {% if cat.category_name == recipes.category_name %}
                                <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                            {% else %}
                             <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endif %}
                     {% endfor %}
                </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Recipe img url</label>
                    <input type="text" class="form-control" name="recipe_img" id="recipe_img" value="{{recipes.recipe_img}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-12">
                    <label>Recipe difficulty</label>
                    <input type="text" class="form-control" name="recipe_difficulty" id="recipe_difficulty" value="{{recipes.recipe_difficulty}}" required>
                </div>
                <div class="form-group col-md-4 col-12">
                    <label>Recipe cooking time </label>
                    <input type="text" class="form-control" name="recipe_cooking_time" id="recipe_cooking_time" value="{{recipes.recipe_cooking_time}}" required>
                </div>
                <div class="form-group col-md-4 col-12">
                    <label>Recipe price</label>
                    <input type="text" class="form-control" name="recipe_price" id="recipe_price" value="{{recipes.recipe_price}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label>Recipe ingredients</label>
                    <textarea class="form-control" name="recipe_ingredients" id="recipe_ingredients" placeholder="please enter each ingredients in a new line" required>{{recipes.recipe_ingredients|join("\n")}}</textarea>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label>Recipe allergens</label>
                    <textarea  class="form-control" name="recipe_allergens" id="recipe_allergens" placeholder="please enter each allergen in a new line" required>{{recipes.recipe_allergens|join("\n")}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label>Dietary</label>
                    <input type="text" class="form-control" name="recipe_dietary" id="recipe_dietary" value="{{recipes.recipe_dietary}}" required>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label>Recipe doses</label>
                    <input type="text" class="form-control" name="recipe_doses" id="recipe_doses" value="{{recipes.recipe_doses}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Preparation steps</label>
                    <textarea class="form-control" name="recipe_preparation_steps" id="recipe_preparation_steps" required>{{recipes.recipe_preparation_steps}}</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary form-button">Submit</button>
        </form>
    </div>
</section>
{% endblock %}

