{% extends 'base.html' %} {% block content %}
<section>
    <form>
        <div class="container text-center">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    filter recipes
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <ul class="nav nav-tabs col-md-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
                                <div class="dropdown-menu">

                                    {% for category in categories %}

                                    <a class="dropdown-item" href="#">{{category.category_name}}</a> 
                                 

                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs col-md-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dietary</a>
                                <div class="dropdown-menu">

                                    {% for dietary in dietaries %}

                                    <a class="dropdown-item" href="#">{{dietary.dietary_name}}</a> 
                                    
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs col-md-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Difficulty</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Easy</a>
                                    <a class="dropdown-item" href="#">Medium</a>
                                    <a class="dropdown-item" href="#">Hard</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs col-md-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Price</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Low</a>
                                    <a class="dropdown-item" href="#">Medium</a>
                                    <a class="dropdown-item" href="#">Expensive</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}
