{% extends 'base.html' %} {% block content %}

<section class="content">
    <div class="container-fluid">
        <!-- bootstrap corousel -->
        

    <div class="container">
        <article>
            <h1 class="text-center">What Does WWF Do?</h1>
            <p class="text-center">WWF's mission is to stop the degradation of our planet's natural environment, and build a future in which humans live in harmony with nature.</p>
        </article>
    </div>

    <!-- bootstrap card element -->
    <div class="container-fluid">
        <h2 class="text-center"> unleash your creativity in the kitchen with </h2>
        <div class="row">
            <div class="card col-md-3 col-6" style="width: 18rem;">
                <img src="static/assets/img/cooking.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 18rem;">
                <img src="static/assets/img/cooking.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 18rem;">
                <img src="static/assets/img/cooking.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 18rem;">
                <img src="static/assets/img/cooking.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="text-center">Have fun with i genietti and create your dishes</h2>
            <a href="{{url_for('get_recipes') }}">
        <img class="img-fluid" src="static/assets/img/cooking.jpg">
        </a>
        </div>
    </div>

</section>

{% endblock %}
