{% extends 'base.html' %} {% block content %}

<section class="content">
    <div class="container-fluid">
        <!-- bootstrap corousel -->
        <div class="row">
            <div class="col-12 px-0">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/assets/img/shutterstock.jpg" class="d-block w-100" alt="our tools">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Pratical and useful kitchen utensils</p>
                                <a href="{{ url_for('shop') }}"><button class="nav-button">Find more</button></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/assets/img/tracker.jpg" class="d-block w-100" alt="prepare your food">
                            <div class="carousel-caption d-none d-md-block">
                                <p>prepare your food has never been easier</p>
                                <a href="{{ url_for('get_recipes') }}"><button class="nav-button">Find more</button></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/assets/img/cooking.jpg" class="d-block w-100" alt="prepare your food">
                            <div class="carousel-caption d-none d-md-block">
                                <p>unleash your creativity in the kitchen</p>
                                <a href="{{ url_for('get_recipes') }}"><button class="nav-button">Find more</button></a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>s
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </div>
    </div>
<!---------------------------------description section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center description">
                <article>
                    <h2 class="title">kitchen utensils</h2>
                    <p>A thousand and one idea to prepare and present your dishes</p>
                </article>
            </div>
        </div>
    </div>

    <!-- bootstrap card element -->
    <div class="container-fluid">
        <div class="row text-center cards">
            <h2 class="cards-header col-12"> unleash your creativity in the kitchen</h2>
            <div class="card col-md-3 col-6" style="width: 14rem;">
                <img src="static/assets/img/pots.jpg" class="card-img-top" alt="set of pots">
                <div class="card-body">
                    <p class="card-text">Check out our new brand of steel pots</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 14rem;">
                <img src="static/assets/img/knive.jpg" class="card-img-top" alt="set of knive">
                <div class="card-body">
                    <p class="card-text">Japanese style chef knive</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 14rem;">
                <img src="static/assets/img/kitchen-tools.jpg" class="card-img-top" alt="kitchen tools">
                <div class="card-body">
                    <p class="card-text">A selection of everyday tools indispensable in every kitchen</p>
                </div>
            </div>
            <div class="card col-md-3 col-6" style="width: 14rem;">
                <img src="static/assets/img/pasta-machine.jpg" class="card-img-top" alt="pasta machine">
                <div class="card-body">
                    <p class="card-text">Authentic italian pasta machine </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="{{ url_for('shop') }}"><button class="nav-button-cards">discover all</button></a>
        </div>
    </div>
  
<!-------------------------------------------------recipe book section -->
    <div class="container">
        <div class="row text-center">
            <article class="recipe-book col-12">
                <h2 class="recipe-book-header">Have fun with pasta factory and create your dishes</h2>
                <p>Click the book and discover a world of recipes!</p>
            </article>
        </div>
        <div class="row container justify-content-center book">
            <div class="col-12">
                <a href="{{url_for('get_recipes') }}">
                    <img class="img-fluid" src="static/assets/img/recipe-page.jpg" alt="recipe book">
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
