{% extends 'base.html' %} 
 
{% block content %}

 {% for recipe in recipes %}
<div class="container">
    <h2>{{recipe.recipe_name}} - {{recipe.recipe_difficulty}}</h2>
    <p class="price">Price: {{recipe.recipe_price}}<br> Preparation time:   {{recipe.recipe_cooking_time}}</p>
    <div class="row">
        <div class=col-md-8>
           <img class="img-fluid" src="{{recipe.recipe_img}}">
        </div>
        <div class="col-md-4">
            <p>
                ingredients for: {{recipe.recipe_doses}}
            </p>
            <ul>
                <li><strong>{{recipe.recipe_ingredients[0]}}</strong></li><br>
                <li><strong>{{recipe.recipe_ingredients[1]}}</strong></li><br>
                <li><strong>{{recipe.recipe_ingredients[2]}}</strong></li><br>
                <li><strong>{{recipe.recipe_ingredients[3]}}</strong></li><br>
                <li><strong>{{recipe.recipe_ingredients[4]}}</strong></li><br>
                <li><strong>{{recipe.recipe_ingredients[5]}}</strong></li><br>
            </ul>
        </div>
    </div>
    <div class="col-12">
        <h3>Tools required</h3>
        <ul>
            <li><strong>{{recipe.recipe_tools[0]}}</strong></li><br>
            <li><strong>{{recipe.recipe_tools[1]}}</strong></li><br>
        </ul>
    </div>
    <div class="col-12">
        <h3>Preparation Steps</h3>
        <p>
            {{recipe.recipe_preparation_steps}}
        </p>
    </div>
</div>
</div>
{% endfor %}
</div>


{% endblock %}
