{% extends 'base.html' %} {% block content %}

<!-- bootstrap accordion and collapse navbar -->
<section>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header text-center" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Filter Recipes
        </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container">
                        <form method="POST" action="{{url_for('filter_recipes') }}">
                            <div class="row">
                                <div class="col-md-3 col-6">
                                    <h5 class="filter-header">categories</h5>

                                    {% for category in categories %}

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="category_name" value="{{category.category_name}}">
                                        <label class="form-check-label">{{category.category_name}}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="col-md-3 col-6">
                                    <h5 class="filter-header">dietary</h5>

                                    {% for type in types %}

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="type_name" value="{{type.name}}">
                                        <label class="form-check-label">{{type.name}}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="col-md-3 col-6">
                                    <h5 class="filter-header">difficulty</h5>

                                    {% for difficult in difficulties %}

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="difficult_level" value="{{difficult.level}}">
                                        <label class="form-check-label">{{difficult.level}}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                                <div class="col-md-3 col-6">
                                    <h5 class="filter-header">cost</h5>

                                    {% for price in prices %}

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="price_amount" value="{{price.amount}}">
                                        <label class="form-check-label">{{price.amount}}</label>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="nav-button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% for recipe in recipes %}

<section class="recipe-container">
    <div class="container recipe-page">
        <div class="row">
            <div class="col-md-8 col-12 text-center">
                <h2 class=recipe-name>{{recipe.recipe_name}}</h2>
            </div>
            <div class="col-md-4 col-12">
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-warning btn recipe-button" role="button" aria-pressed="true"><i class="fas fa-edit"></i>Update</a>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-danger btn recipe-button" role="button" aria-pressed="true"><i class="fas fa-trash"></i>Delete</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-12 recipe-img">
                <img class="img-fluid" src="{{recipe.recipe_img}}" alt="dish image">
            </div>
            <div class="col-md-4 col-12 recipe-details">
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <p><img class="img-fluid icon" src="static/assets/img/ramen.png" alt="ramen">type: <strong>{{recipe.category_name}}</strong></p>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                <p><img class="img-fluid icon" src="static/assets/img/sterling-pound-sign-of-money.png" alt="Pound sign">Price: <strong>{{recipe.recipe_price}}</strong></p>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                <p><img class="img-fluid icon" src="static/assets/img/kitchen-pack.png" alt="kitchen utensil">Preparation time: <strong>{{recipe.recipe_cooking_time}}</strong></p>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
                <p><img class="img-fluid icon" src="static/assets/img/chef.png" alt="chef hat"> difficulty: <strong>{{recipe.recipe_difficulty}}</strong></p>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <p><img class="img-fluid icon" src="static/assets/img/vegetarian.png" alt="food plate"> dietary: <strong>{{recipe.recipe_dietary}}</strong></p>
            </div>
        </div>
        <div class="row recipe-row">
            <div class="col-md-6 col-6">
                <h3 class="ingredients-header">ingredients for {{recipe.recipe_doses}}</h3>
                <ul class="recipe-composition">
                    {% for ingredients in recipe.recipe_ingredients %}
                    <li><strong>{{ingredients}}</strong></li> {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 col-6">
                <h3 class="ingredients-header">Allergens</h3>
                <ul class="recipe-composition">
                    {% for allergens in recipe.recipe_allergens %}
                    <li><strong>{{allergens}}</strong></li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="ingredients-header">Preparation</h3>
                <p class="steps">{{recipe.recipe_preparation_steps}}</p>
            </div>
        </div>
    </div>
</section>


{% endfor %} {% endblock %}
