{% extends 'base.html' %} {% block content %}


<section>
    <div class="container utensil-page">
        <div class="row shop-header">
            <h2 class="title col-12">Kitchen Utensil</h2>
            <p class="paragraph col-12">A thousans and one idea to present your dishes</p>
        </div>
        <div class="row">

            {% for utensil in utensils %}

            <div class="col-md-4 col-12 utensil-gallery">
                <h5>{{utensil.name}}</h5>
                <figure class="gallery-item text-center">
                    <img src="{{utensil.img}}" alt="utensil" class="image-fluid">
                    <figcaption class="img-title">
                        <p>{{utensil.description}}</p>
                    </figcaption>
                </figure>
                <div class="row">
                    <p class="col-6">{{utensil.disponibility}}</p>
                    <p class="col-6">{{utensil.price}}</p>
                </div>
                <div class="row">
                    <a class="nav-button-cards" id="buy-button" href="#">go to shop</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
  